# ------- TOKENS -------
BOT_TOKEN = ********
GEMINI_API_KEY=******
# ------- DB -------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_mama_bot_db
DB_USER=nova
DB_PASSWORD=******
# ------- LOGS -------
LOG_LEVEL=DEBUG
LOG_FILE=logs/your_mama_bot_db.log
# ------- REDIS -------
REDIS_HOST=localhost
REDIS_PORT=6379
CONFIG_CACHE_TTL=3600
# ------- OPERATOR -------
USER_MSG_LIMIT = 20
USER_BURST_WINDOW_SECONDS = 10
# ------- SCHEDULER -------
MIN_SESSIONS_PER_DAY = 5
MAX_SESSIONS_PER_DAY = 7
MIN_SESSION_DURATION_MIN = 20
MAX_SESSION_DURATION_MIN = 40
MIN_PULSE_INTERVAL_SEC = 120
MAX_PULSE_INTERVAL_SEC = 300



